/*display:flex will align my image in the div container and justify-content will center the image*/
.image-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* settings for the header makes it stand out against the main section; i created a border and customized the font*/
header {
  font-family: "Arial Black";
  color: #9bc3ed;
  text-align: center;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #000000;
}

/* I wanted my main font styles to be consistent */

main {
  color: #5f7a7c;
  font-size: 14px;
  width: 400px;
  margin: auto;
}

/*h2 were already larger than <p> but I wanted to customize a different color that was closer to the header*/

h2 {
  font-family: "Arial";
  color: #4b89c3;
  text-align: center;
}

/* creates clear breaks between each article*/
hr {
  height: 2px;
}

/*i wanted to set apart the footer from the rest of content so people know it is not part of the main container (but style is still consistent with page)*/
footer {
  font-family: "Arial Black";
  font-size: 9px;
  color: #9bc3ed;
  text-align: center;
  padding: 50px;
}
